scripts/*
testing/*
targets/*
scaffolds/*
!scaffolds/*tar.gz
*.pdb
*.out
*.log
*.csv
*.txt
*.png
*.trb
*.yaml
*adj.pt
*ss.pt
pipelines/colabfold_af2/output/*
pipelines/msa_mpnn_af2/output/*
pipelines/msa_mpnn_af2/helper_scripts/__pycache__
